@keyframes animate{
  from{opacity:0}
  to{opacity:1}
}


::placeholder{
  padding-left: 10px;
}
li{
  animation-name:animate;
  animation-duration: 2s;
  width:100%;
  background-color: #b3d1ff;
  color:#000066;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-radius: 3px;
  margin-bottom:5px;
  cursor:pointer;
  font-size:4vw;
}

li:hover{
  background-color:#ff3333;
  padding-top:15px;
  padding-bottom:15px;
  color:white;
}

input{
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
}

button{
  border-radius:5px;
  height: 30px;
  background-color: #b3d1ff;
  color:#ffff;
  border:none;
  cursor: pointer;
}

h2{
  padding-left:30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 4vw;
}

p{
  padding-left:30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 3vw;
}

#add-user, #errors{
  padding-left:25px;
}

#info{
  display:none;
  animation-name:animate;
  animation-duration: 10s;
}

.error {
  display: none;
  color: red;
  font-size: 16px;
  padding: 5px 10px;
  width: 30%;
  text-align: left;
}

.error--active {
  animation-name:animate;
  animation-duration: 2s;
  border-left: 4px solid red;
  display: block;
  color: red;
}

.error--hide {
  display: none
}

.error--input {
  border: 2px solid red;
}

.user-list-container {
  display: block;
}

.user-list-container--hide {
  display: none;
}
